<h4>Список образовательных программ:</h4>
{{#dropzone-component action = "dropped"}}
{{#each listEdu as |eduProgr|}}
            {{#edu-component  content=eduProgr}}
                <p>{{eduProgr.title}}</p>
                <p>{{eduProgr.desc}}</p>
            {{/edu-component}}
        {{else}}
            <p>Nothing to show</p>
        {{/each}}

{{/dropzone-component}}
        





{{yield}}



