<h2 class="title">Лабораторная работа №1 по Ember </h2>

<div class="left">
    {{semester-component action = "getEduProgr"  model = semesters}}
</div>
<div class="rigth">
    {{edu-progr-component dropLeft = 'dropLeft' dropRight = 'dropRight' listEdu = listEdu}}
</div>

{{outlet}}
